<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
    <%- css('css/styles') %>
</head>
